div.cell {
    background-color: rgb(226, 220, 220);
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    
}

#a{background-color: gray;}
#b{background-color: gray;}
#c{background-color: gray;}