section 

.center{
    display: grid;
    grid-template-areas: 
    ". unosI unosP unosN ."
    ".     button        .";
}

.A{
    grid-area: A;
    font-size: 2rem;
}

.B {
    grid-area: B;
    font-size: 2rem;
}

.C {
    grid-area: C;
    font-size: 2rem;
}

.D {
    grid-area: D;
    font-size: 2rem;
}

.E {
    grid-area: E;
    font-size: 2rem;
}


button{
    margin: auto;
    width: 400%;
    font-size: 2rem;
    
    
}


footer{
    width: 80rem;
    padding: 0 0 0 .5rem; /* top right bottom left */
    margin: 0 0 0 .5rem;
    box-shadow: inset 150px 0 150px -150px ;
    color: red ;
    opacity: 0.75;
}
